<h1>Here, take a look at all these great people, that signed petition!</h1>
<img src="/public/excited.gif" alt="" class="thanks">
<div class="people-container">
    {{#voters}}
        <p>{{this.first}} {{this.last}}</p>
    {{/voters}}
</div>