<h1>Thank you, thank you, thank you!</h1>
<p>We hope our voice will be heard. Stay tuned! We will contact all our signers with updates.</p>
<img src="/public/giphy.gif" alt="" class="thanksimg">
<p>This is your signature:</p>
<img src="{{sign}}" alt="" class="thanksSignature">
<a href="/signers">See all {{number}} signers!</a>
<a href="/profile/edit">Edit your profile</a>
<a href="/deletesig">Delete your signature from database</a>
<button id="logout_btn" onclick="location.href='/logout'">Logout</button>